*.pyc
obj/*
lib/*
bin/*
kumacs/*
src/ypatchy.log
src/*.f*
src/*~
src/temp*
src/*.o
src/*.mod
util/*~
*~
__pycache__/*
src/*.checkpoint
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
Makefile
Makefile.in
stamp-h1
src/Makefile
src/Makefile.in

