obj/*
lib/*
bin/*
src/*.f*
src/*~
src/*.o
src/*.mod
src/*.checkpoint
util/*~
*~
*.pyc
__pycache__/*
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
Makefile
Makefile.in
stamp-h1
src/Makefile
src/Makefile.in
.zed/
